body {
    display: flex;
    flex-direction: column;
	margin: auto;
    background-color:teal;
}

header{
    display: flex;
	flex-direction: row;
	margin-bottom: 1em;
	padding: 1em;
	text-align: center;
    align-items: center;
	color: teal;
    background-color: white;
    border-bottom-left-radius:   20%;
    border-bottom-right-radius:   20%;
}
header img {
    display: flex;
    text-align: center;
    max-height: 10em;
    max-width: 10em;
    border-radius: 100%;

}


main{ 
    padding: 2em;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#recherche{
    border-radius: 0.5em;
    text-align: center;
    align-items: center;
    color: teal;
    background-color: white;
	padding: 0.5em;
    margin: 0.2em;
    border: 1px solid;
}

#resultat {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}
#info-produit{
    border-radius: 0.5em;
    text-align: center;
    align-items: center;
    color: teal;
    background-color: white;
	padding: 0.5em;
    margin: 0.2em;
    border: 1px solid;
    flex : 1;
    min-width: 10em;
}
img {
    display: flex;
    text-align: center;
    width: 100%;
}

#corp{
    border-radius: 0.5em;
    flex : 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: teal;
    background-color: white;
    width: 100%;
	padding: 0.5em;
    margin: 0.2em;
    border: 1px solid;
}
#score{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
#img-nutriscore{
    margin: 0.2em;
    max-height: 5em;
    width:auto;
}
#img-nova{
    margin: 0.2em;
    align-items: center;
    max-height: 3em;
    width:auto;
}
#img-ecoscore{
    margin: 0.2em;
    max-height: 5em;
    width:auto;
}
summary {
    font-size: 1.2em;
}
table {
    margin: 1em;
    border-collapse: collapse;
    border: 1px solid teal;
}
td {
    padding: 1em;
    margin: 0;
    border: 1px solid teal;
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
    margin-top: 1em;
    padding: 1em;
    color: teal;
    background-color: white;
    border-top-left-radius:  20%;
    border-top-right-radius:   20%;
    border:1px solid teal;
}
a:link{
    color : teal
}
a:visited{
    color: black;
    
}