body {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
	margin: auto;
	padding: 16px;
    background-color:maroon;
}

header{
    display: flex;
	flex-direction: row;
    align-items: center;
	margin-bottom: 2em;
	padding: 1em;
	text-align: center;
	color: maroon;
    background-color: white;
    border-bottom-left-radius:  3em;
    border-bottom-right-radius:  3em;
}
header img {
    display: flex;
    text-align: center;
    max-height: 200px;
    max-width: 200px;
    border-radius: 100%;

}


main{
    display: flex;
    flex-direction: column;
}
#recherche{
    border-radius: 0.5em;
    text-align: center;
    align-items: center;
    color: maroon;
    background-color: white;
	padding: 0.5em;
    border: 1px solid;
}
#resultat {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}
#info-produit{
    border-radius: 0.5em;
    text-align: center;
    align-items: center;
    color: maroon;
    background-color: white;
	padding: 0.5em;
    border: 1px solid;
    flex : 1;
    max-width: 20em;
}

img {
    display: flex;
    text-align: center;
    width: 100%;
}

#corp{
    border-radius: 0.5em;
    flex : 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: maroon;
    background-color: white;
    width: 100%;
	padding: 0.5em;
    border: 1px solid;
}
#score{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#img-nutriscore{
    margin: 0.2em;
    max-height: 5em;
    width:auto;
}
#img-nova{
    margin: 0.2em;
    align-items: center;
    max-height: 3em;
    width:auto;
}
summary {
    font-size: 1.2em;
}

footer{
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 1em;
    color: maroon;
    background-color: white;
    border-top-left-radius:  3em;
    border-top-right-radius:  3em;
}
