$main: teal;
$secondary: white;

body {
    display: flex;
    flex-direction: column;
	margin: auto;
    background-color:$main;
    color: $main;
}

header{
    display: flex;
	flex-direction: row;
	margin-bottom: 1em;
	padding: 1em;
	text-align: center;
    align-items: center;
    background-color: $secondary;
    border-bottom-left-radius:   20%;
    border-bottom-right-radius:   20%;
    img {
        max-height: 10em;
        max-width: 10em;
        border-radius: 100%;
    }
}

main{ 
    padding: 2em;
    margin-bottom: 4em ;
    display: flex;
    flex-direction: column;
    height: 100%;
    #recherche{
        border-radius: 0.5em;
        text-align: center;
        align-items: center;
        background-color: $secondary;
        padding: 0.5em;
        margin: 0.2em;
        border: 0 solid;
        input{
            border-radius: 1em;
            border:1px solid $main;
            padding-left: 1em;
            padding-right: 1em;
            margin: 0.5em;
            text-align: center;
        }
        button{
            border-radius: 1em;
            color :$secondary;
            background-color: $main;
            padding-left: 1em;
            padding-right: 1em;
            margin:  0.5em;
            border:0;
            text-align: center;
        }
    }
    #resultat {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        #info-produit{
            border-radius: 0.5em;
            text-align: center;
            align-items: center;
            background-color: $secondary;
            padding: 0.5em;
            margin: 0.2em;
            border: 0 solid;
            flex : 1;
            min-width: 10em;
            img {
                width: 100%;
                margin: 0.5em;
            }
        }
        #corp{
            border-radius: 0.5em;
            flex : 2;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: $secondary;
            width: 100%;
            padding: 0.5em;
            margin: 0.2em;
            border: 0 solid;
            #score{
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                .img-score{
                    max-height: 5em;
                    width:auto;
                }
            }
            summary {
                font-size: 1.2em;
            }
            table {
                margin: 1em;
                border-collapse: collapse;
                border: 1px solid $main;
                text-align: left;
                td {
                    padding: 0.5em;
                    margin: 0;
                    border-bottom: 1px solid $main;
                }
            }
        }
    }
}
footer{
    position: fixed;
    bottom: 0;
    padding-right: 2em;    
    background-color: $secondary;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
}   
a:link{
    color : $main
}
