form {
    @include block;
    @include alignCenter;

    input {
        @include styleInput;
        border: 1px solid $main;
        margin: 0.5em;
    }

    button {
        @include styleInput;
        color: $secondary;
        background-color: $main;
        border: 0;
    }
}