@import "./color";
@import "./mixin";
@import "./form";
@import "./headerfooter";


body {
    @include flexColone;
    margin: auto;
    background-color: $main;
    color: $main;
}

main {
    padding: 2em;
    margin-bottom: 6em;
    @include flexColone;
    height: 100%;

    #resultat {
        @include flexligne;
        flex-wrap: wrap;

        #info-produit {
            @include block;
            @include alignCenter;
            flex: 1;
            min-width: 10em;
        }

        img {
            width: 90%;
            margin: 0.5em;
            border-radius: 10%;
        }

        section {
            @include block;
            @include flexColone;
            flex: 2;
            flex-wrap: wrap;
            width: 100%;

            #score {
                @include flexligne;
                align-items: center;
                flex-wrap: wrap;

                img {
                    max-height: 5em;
                    width: auto;
                }
            }
        }

        summary {
            font-size: 1.2em;
        }

        table {
            margin: 1em;
            border-collapse: collapse;
            border: 1px solid $main;
            text-align: left;

            td {
                padding: 0.5em;
                margin: 0;
                border-bottom: 1px solid $main;
            }
        }
    }
}

a:link {
    color: $main
}