body {
    background-color: darkgreen;
    color: darkgreen;
}

header {
    background-color: white;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;

}

header img {
    max-height: 9em;
    max-width: 9em;
    border-radius: 100%;
}

main {
    padding: 2em;
    margin-bottom: 5em;
    height: 100%;
}

#recherche {
    border-radius: 1em;
    text-align: center;
    align-items: center;
    background-color: white;
    border: 0.5em solid darkgreen;
}

input {
    border-radius: 1em;
    border: 1px solid darkgreen;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.5em;
    text-align: center;
}

button {
    border-radius: 1em;
    color: white;
    background-color: darkgreen;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.5em;
    border: 0;
    text-align: center;
}



#info-produit {
    border-radius: 1em;
    text-align: center;
    align-items: center;
    background-color: white;
    border: 0.5em solid darkgreen;

}

#corp {
    padding: 1em;
    border-radius: 1em;
    background-color: white;
    border: 0.5em solid darkgreen;
}

.img-score {
    max-height: 5em;
    width: auto;
}

summary {
    font-size: 1.2em;
}

table {
    border-collapse: collapse;
    border: 1px solid darkgreen;
    text-align: left;
}

td {
    border-bottom: 1px solid darkgreen;
}

footer {
    position: fixed;
    bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    background-color: white;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

a:link {
    color: darkgreen
}